* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  color: white;
}

.about,
.contact {
  padding: 24px 15px 24px 15px;
  color: white;
}

.about h1,
.about p {
  margin-bottom: 8px;
}

.contact h1,
.contact ul {
  margin-bottom: 8px;
}
.header {
  background-color: #343a40;
}

.nav {
  padding: 8px 16px;
  align-items: center;
}
.nav .album {
  font-size: 25px;
}
.nav .collapseBtn {
  text-align: right;
  font-size: 25px;
}
.nav .collapseBtn i {
  border: 1px solid rgb(207, 198, 198);
  padding: 10px 20px;
  border-radius: 3px;
  color: rgb(141, 133, 133);
}
.nav .collapseBtn i:hover {
  cursor: pointer;
}

.jumbotron {
  text-align: center;
  padding: 96px 32px;
}

.content-container h1 {
  margin-bottom: 8px;
}

.content-container p {
  margin-bottom: 8px;
}

.content-container a {
  color: black;
  display: inline-block;
  margin: 8px 0px;
}

.content-container .btn {
  margin: 8px;
  padding: 10px 12px;
  border-radius: 3px;
}

.content-container .btn1 {
  color: white;
  background-color: #007bff;
}
.content-container .btn2 {
  color: white;
  background-color: #6c757d;
}
.item-wrapper {
  background-color: #f8f9fa;
  padding: 48px 0px;
}
.item {
  margin-bottom: 24px;
  display: inline-block;
  border: 1px solid #707a80;
  border-radius: 5px;
}
.item img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 225px;
}

.item-column {
  padding: 0px 15px;
}
.item-text p {
  margin-bottom: 16px;
}
.item-btn {
}
.item-body {
  padding: 20px;
}

.item-btn button {
  padding: 6px 8px;
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #787e83;
}
.item-btn .btn-1 {
  border: 1px solid #787e83;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.item-btn .btn-2 {
  border: 1px solid #787e83;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
}
.item-btn button:hover {
  cursor: pointer;
  background-color: rgb(158, 151, 151);
  color: white;
}

.item-footer {
  justify-content: space-between;
  align-items: center;
}

.item-footer small {
  color: #6c757d;
}

.footer {
  padding: 48px;
}
.footer-wrapper {
  margin: 0px 25px;
  justify-content: space-between;
}

.footer a {
  color: blue;
}

.footer p {
  margin-bottom: 4px;
}
